html {
    padding: 5px;
    margin: 70px;
}

#logomarca {
    width: 200px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: "Bahnschrift";
}
h2 {
    font-family: "Candara";
}
a:visited {
    color: 	#FFA500;
}
a:hover {
    color: #FF8C00;
}
a:active {
    color: #FFD700;
}
a:link {
    color: 	#1C1C1C;
}
a {
    background-image: url(img/globo.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    text-decoration: underline;
}
.nota {
    opacity: 0.7;
    background-color: #DCDCDC
}
.nota strong {
    color: #363636;
}
.passo strong {
    font-size: 24px;
    background-color: #1C1C1C;
    color: whitesmoke;
}
.passo em {
    font-size: 20px;
}
p {
    text-align: justify;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
